.background {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    background-color: #1b1b1b;
    font-family: 'Montserrat', sans-serif;
}

.name {
    color: white;
}

.top,
.editor-nav {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editor-nav {
    border-radius: 7px 7px 0 0 ;
    padding: 10px 20px;
    background-color: #1f1f1f;
}

.grad-border {
    padding: 2px;
    background: rgb(13, 0, 241);
    background: -moz-linear-gradient(90deg, rgba(13, 0, 241, 1) 0%, rgba(229, 43, 232, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(13, 0, 241, 1) 0%, rgba(229, 43, 232, 1) 100%);
    background: linear-gradient(90deg, rgba(13, 0, 241, 1) 0%, rgba(229, 43, 232, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d00f1", endColorstr="#e52be8", GradientType=1);
    border-radius: 25px;
}

.run-btn {
    min-width: 85px;
    border-radius: 25px;
    background: rgb(72, 63, 255);
    background: -moz-linear-gradient(90deg, rgba(72, 63, 255, 1) 0%, rgba(88, 13, 239, 1) 25%, rgba(119, 21, 237, 1) 52%, rgba(173, 32, 235, 1) 74%, rgba(229, 43, 232, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(72, 63, 255, 1) 0%, rgba(88, 13, 239, 1) 25%, rgba(119, 21, 237, 1) 52%, rgba(173, 32, 235, 1) 74%, rgba(229, 43, 232, 1) 100%);
    background: linear-gradient(90deg, rgba(72, 63, 255, 1) 0%, rgba(88, 13, 239, 1) 25%, rgba(119, 21, 237, 1) 52%, rgba(173, 32, 235, 1) 74%, rgba(229, 43, 232, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#483fff", endColorstr="#e52be8", GradientType=1);
    padding: 10px 20px;
    border: none;
    color: white;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.main {
    display: flex;
    justify-content: space-around;
    border-radius: 7px;
}

.io {
    font-size: 0.9em;
}
.editor-window {
    width: 65%;
}

.output-scr {
    margin-top: 10px;
    width: 400px;
    color: white;
}

.output-window {
    font-family: 'Courier New', Courier, monospace;
    padding: 7px;
    background-color: #1f1f1f;
    white-space: pre-wrap;
    border-radius: 7px;
    height: 458px;
    overflow-y: scroll;
}

.output-window::-webkit-scrollbar {
    width: 5px;
}

.output-window::-webkit-scrollbar-track {
    background-color:#1f1f1f; 
    border-radius: 10px;
}

.output-window::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(162, 162, 162); 
}