.bg_ {
    background-color: #1B1B1B;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
}

.title {
    padding: 30px 0 0 100px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.nav{
    margin: 30px 70px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.login-btn, .signup-btn {
    margin: 0 30px 0 0;
    transition: all ease-in 0.2s;
}

.signout-btn-link {
    transition: all ease 0.2s;
    margin-left: 30px;
}

.login-btn-link, .signup-btn-link, .grad-btn, .signout-btn-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 30px;
    border: solid 3px transparent;
    background: linear-gradient(90deg, rgba(72, 63, 255, 1) 0%, rgba(88, 13, 239, 1) 25%, rgba(119, 21, 237, 1) 52%, rgba(173, 32, 235, 1) 74%, rgba(229, 43, 232, 1) 100%);
    background-origin: border-box;
    box-shadow: 2px 1000px 1px #1B1B1B inset;
}

.login-btn-link:hover, .grad-btn:hover {
    color: white;
    box-shadow: none;
}

.login-btn-link {
    width: 130px;
    border: solid 2px transparent;
}

.signup-btn-link, .signout-btn-link {
    box-shadow: none;
}

.signup-btn-link:hover, .signout-btn-link:hover {
    color: white;
}

.signup-btn:hover, .signout-btn-link:hover {
    transform: translateY(-4px);
}

.start-div, .middle-div, .end-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-div {
    margin: 60px 100px 100px 100px;
}

.end-div .second-div {
    margin: 0 0 0 200px;
}

.middle-div .second-div {
    margin: 0;
}

.quote, .grad-quote, .language {
    font-weight: 900;
    font-size: 60px;
}

.grad-quote {
    background: rgb(72, 63, 255);
    background: -moz-linear-gradient(90deg, rgba(72, 63, 255, 1) 0%, rgba(88, 13, 239, 1) 25%, rgba(119, 21, 237, 1) 52%, rgba(173, 32, 235, 1) 74%, rgba(229, 43, 232, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(72, 63, 255, 1) 0%, rgba(88, 13, 239, 1) 25%, rgba(119, 21, 237, 1) 52%, rgba(173, 32, 235, 1) 74%, rgba(229, 43, 232, 1) 100%);
    background: linear-gradient(90deg, rgba(72, 63, 255, 1) 0%, rgba(88, 13, 239, 1) 25%, rgba(119, 21, 237, 1) 52%, rgba(173, 32, 235, 1) 74%, rgba(229, 43, 232, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#483fff", endColorstr="#e52be8", GradientType=1);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0;
}

.content {
    margin: 30px 0 0 0;
    font-weight: 600;
}

.start-btn {
    margin: 60px 0 0 0;
}

.grad-btn {
    padding: 2vh 6vh;
}

.editor {
    height: 700px;
}

.middle-div{
    text-align: right;
}

.languages-img {
    height: 700px;
}

.text {
    font-weight: 700;
}

.bold-lang {
    font-weight: 900;
    font-size: 3rem;
    
    background: rgb(72,63,255);
    background: -moz-linear-gradient(90deg, rgba(72,63,255,1) 20%, rgba(88,13,239,1) 40%, rgba(119,21,237,1) 65%, rgba(173,32,235,1) 85%, rgba(229,43,232,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(72,63,255,1) 20%, rgba(88,13,239,1) 40%, rgba(119,21,237,1) 65%, rgba(173,32,235,1) 85%, rgba(229,43,232,1) 100%);
    background: linear-gradient(90deg, rgba(72,63,255,1) 20%, rgba(88,13,239,1) 40%, rgba(119,21,237,1) 65%, rgba(173,32,235,1) 85%, rgba(229,43,232,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#483fff",endColorstr="#e52be8",GradientType=1);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.language {
    margin: 0;    
}

.normal {
    font-size: 2.5rem;
    font-weight: 700;
}

.bold {
    background: rgb(72,63,255);
    background: -moz-linear-gradient(90deg, rgba(72,63,255,1) 0%, rgba(88,13,239,1) 25%, rgba(119,21,237,1) 45%, rgba(173,32,235,1) 65%, rgba(229,43,232,1) 85%);
    background: -webkit-linear-gradient(90deg, rgba(72,63,255,1) 0%, rgba(88,13,239,1) 25%, rgba(119,21,237,1) 45%, rgba(173,32,235,1) 65%, rgba(229,43,232,1) 85%);
    background: linear-gradient(90deg, rgba(72,63,255,1) 0%, rgba(88,13,239,1) 25%, rgba(119,21,237,1) 45%, rgba(173,32,235,1) 65%, rgba(229,43,232,1) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#483fff",endColorstr="#e52be8",GradientType=1);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.last-div {
    margin: 100px 200px 100px 100px;
}

.themes-img {
    height: 700px;
    margin: 100px 0px 100px 0;
}

.footer-title {
    background: rgb(72,63,255);
    background: -moz-linear-gradient(90deg, rgba(72,63,255,1) 8%, rgba(88,13,239,1) 12%, rgba(119,21,237,1) 15%, rgba(173,32,235,1) 18%, rgba(229,43,232,1) 22%);
    background: -webkit-linear-gradient(90deg, rgba(72,63,255,1) 8%, rgba(88,13,239,1) 12%, rgba(119,21,237,1) 15%, rgba(173,32,235,1) 18%, rgba(229,43,232,1) 22%);
    background: linear-gradient(90deg, rgba(72,63,255,1) 8%, rgba(88,13,239,1) 12%, rgba(119,21,237,1) 15%, rgba(173,32,235,1) 18%, rgba(229,43,232,1) 22%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#483fff",endColorstr="#e52be8",GradientType=1);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 700;
    font-size: 40px;
}

.mail-link:hover {
    color: white;
    font-weight: bold;
}
